<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tamagodowork">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TamaGoDoWork">
        <activity android:name=".bottomNav.schedule.AddEventActivity"></activity>
        <activity android:name=".bottomNav.pet.RoomActivity" />
        <activity android:name=".bottomNav.pet.EditPetActivity" />
        <activity android:name=".SettingsAct" />
        <activity android:name=".authentication.ChangePasswordAct" />
        <activity android:name=".authentication.LoginAct" />
        <activity android:name=".authentication.RegisterAct" />
        <activity android:name=".bottomNav.taskList.AddTaskAct" />
        <activity android:name=".bottomNav.taskList.EditTaskAct" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".alarm.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>